.judul-table{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 39px; 
    color:#606F89;
    align-items: center;
    text-align: center;
}

.sub-judul-table{
    font-family: Inter; font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #606F89;
}

.content{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height:25px;color: #000000
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 1px;
}